
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" initial-scale=1.0">
    <title>Lista de categorías</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pagina_principal.css' %}">
</head>
<body>
    <header id="titulo">
    <h1>Categorías</h1>    
    <a id="crear_producto" href="{%url 'agregar'%}">Crear Producto</a>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button id="crear_producto" type="submit">Cerrar sesión</button>
    </form>    
    </header>
    <main id="principal_tabla_inventario">
        <table id="tabla_gral_de_inventario">
            <tr id="cabecera_de_tabla">
                <td>Categoría</td>
                <!--<td>Reportes</td> proximamente-->
                <td>Ultima actualizacion</td>
                <td>Departamento responsable</td>
                <td>Detalles</td> <!-- link -->
            </tr>
            <tr>
                <td>
                    equipo de computo y comunicacion
                </td>
                <td>
                    <!--inserte fecha-->
                </td>
                <td>
                    Sistemas
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    Equipo telefonico
                </td>
                <td>
                    <!-- inserte fecha -->
                </td>
                <td>
                    Sistemas
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    Equipo de operaciones
                </td>
                <td>
                    <!-- insertar fecha -->
                </td>
                <td>
                    operaciones
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    herramienta
                </td>
                <td>
                    <!-- inserte fecha -->
                </td>
                <td>
                    Varios departamentos
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    Papelería
                </td>
                <td>
                    <!-- inserte fecha -->
                </td>
                <td>
                    varios departamentos
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    Vehículos
                </td>
                <td>
                    <!-- inserte fecha -->
                </td>
                <td>
                    Operaciones
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    Uniformes
                </td>
                <td>
                    <!-- inserte fecha -->
                </td>
                <td>
                    Almacen
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    Muebles
                </td>
                <td>
                    <!-- inserte fecha -->
                </td>
                <td>
                    Varios departamentos
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
            <tr>
                <td>
                    Otros
                </td>
                <td>
                    <!-- inserte fecha -->
                </td>
                <td>
                    Varios departamentos
                </td>
                <td>
                    <a href="">Ver detalles</a>
                </td>
            </tr>
        </table>
    </main>
    <footer>
        Inventario general de objetos
    </footer>
   
</body>
</html>
<!-- equipo de computo y comunicacion 
equipo telefonico
equipo de operaciones
herramienta
papelería
vehiculos
uniformes
muebles
otros-->