<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/paraTodos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/detalles.css' %}">
    <title>Document</title>
</head>
<body>
    <span class="detalles">
        <h1>Estos son los detalles del equipo {{equipo.marca}}</h1>
        <p><span> Teléfono:</span> {{equipo.telefono}}</p>
        <p><span>Marca:</span> {{equipo.marca}}</p>
        <p><span>Email:</span> {{equipo.email}}</p>
        {% if equipo.en_servicio is True%}
        <p><span>Está en servicio</span></p>
        {% else %}
        <p><span>No está en servicio</span></p>
        {%endif%}
        <p><span>Detalles:</span> {{equipo.detalles}}</p>
        <p><span>Propietario:</span> {{equipo.propietario}}</p>
        <p><span>IMEI:</span> {{equipo.imei}}</p>
    </span>
</body>
</html>