<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <title>Editar Producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablaComputo/paraTodos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablaComputo/Equipo.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <h1>Editar Producto</h1>
    <form method="post" class="formulario_general">
        {% csrf_token %}
        <p>
            <label for="{{ form.marca.id_for_label }}">Marca:</label>
            <input type="text" class="borde" id="{{ form.marca.id_for_label }}" name="{{ form.marca.name }}" value="{{form.marca.value}}" autocomplete="off">
        </p>
        <p>
            <label for="{{ form.departamento.id_for_label }}">Departamento:</label>
            <input type="text" class="borde" id="{{ form.departamento.id_for_label }}" name="{{ form.departamento.name }}" value="{{form.departamento.value}}" autocomplete="off">
        </p>
        <p>
            <label for="{{ form.imei.id_for_label }}">IMEI:</label>
            <input type="text"class="borde" id="{{ form.imei.id_for_label }}" name="{{ form.imei.name }}" value="{{form.imei.value}}" autocomplete="off">
        </p>
        <p class="password-container">
            <label for="{{ form.contrasena_ingreso.id_for_label }}">Contraseña de ingreso:</label>
            <input type="password" id=" {{ form.contrasena_ingreso.id_for_label }}" class="password borde" name="{{ form.contrasena_ingreso.name }}"value="{{form.contrasena_ingreso.value}}" placeholder="Contraseña">
            <button type="button" id="togglePassword">
                <i class="fas fa-eye-slash"></i> <!-- Ojo cerrado al principio -->
            </button>
        </p>
        <p>
            <label for="{{ form.en_servicio.id_for_label }}">En servicio:</label>
            {{ form.en_servicio }}
        </p>
        
        <p>
            <label for="{{ form.propietario.id_for_label }}">Propietario:</label>
            {{form.propietario}}
        </p>
        <p>
            <label for="{{ form.detalles.id_for_label }}">Detalles:</label>
            {{form.detalles}}
        </p>
        <p class="vacio"></p>
        <span class="botones">
            <button type="submit" class="regresar_actualizar">Actualizar</button>
            <a class="regresar_actualizar" href="{% url 'tablaComputo:principalObjs' %}">Volver a la lista</a>
        </span>
    </form>
    <script src="{% static 'js/tablaComputo/editar.js' %}"></script>
</body>
</html>
