
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" initial-scale=1.0">
    <title>Equipos telefonicos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Pagina_principal.css' %}">
</head>
<body>
    <header id="titulo">
    <h1>Inventario general de equipos de computo</h1>    
    <a id="crear_producto" href="{%url 'agregar'%}">Crear equipo</a>    
    <a id="crear_producto" href="{%url 'principal'%}">Regresar a categorias</a>    
    </header>
    <main id="principal_tabla_inventario">
        <table id="tabla_gral_de_inventario">
            <tr id="cabecera_de_tabla">
                <td>Marca</td> 
                <td>Está en servicio</td>
                <td>Detalles</td>
                <td>Propietario</td>
                <td>Imei</td>
                <td>Departamento</td>
                <td>Contraseña</td>
                <td>Editar</td>
                <td>Eliminar</td>
                <td>Ver código <br>QR</td>  
            </tr>
            {% for equipo in equipos %}
            <tr>
                <td>{{equipo.marca}}</td>
                {% if equipo.en_servicio is True%}
                <td>Si está en servicio</td>
                {% else %}
                <td>No está en servicio</td>
                {%endif%}
                <td>{{equipo.detalles}}</td>
                <td>{{equipo.departamento}}</td>
                <td>{{equipo.propietario}}</td>
                <td>{{equipo.imei}}</td>
                <td class="editarEliminar"> <a href="{% url 'editarequip' equipo.pk %}">Editar</a></td>
                <td class="editarEliminar"> <a href="{% url 'eliminarequip' equipo.pk %}">Eliminar</a></td>
                <td class="editarEliminar"> <a href="{% url 'qr_pageequip' equipo.pk %}">Ver QR</a></td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
    </footer>
   
</body>
</html>
<!--agregar botón de exportar a excel-->
<!--agregar página de inicio de sesión y tabla de usuarios-->