<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablaCo mputo/paraTodos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tablaComputo/detalles.css' %}">
    <title>Document</title>
</head>
<body>
    <span class="detalles">
        <h1>Estos son los detalles<br> del equipo <br>{{equipo.marca}}</h1>
        <p><span> Departamento:</span> {{equipo.departamento}}</p>
        {% if equipo.en_servicio is True%}
        <p><span>El equipo está en servicio</span></p>
        {% else %}
        <p><span>El equipo no está en servicio</span></p>
        {%endif%}
        <p><span>Detalles:</span> {{equipo.detalles}}</p>
        <p><span>Propietario:</span> {{equipo.propietario}}</p>
        <p><span>IMEI:</span> {{equipo.imei}}</p>
    </span>
</body>
</html>